$color-green: #004446
$color-blue: #7ad6ff
$color-accent: #ffe54a
$color-text: #000000
$color-text-alt: #004446
$color-border: rgba(0, 0, 0, 0.30)
$color-background: #FFFFFF
$color-text-light:#f2faff
$color-background-alt: #b5e8ff

// TYPOGRAPHY
$heading-font-family: "Cooper Hewitt", sans-serif
$body-font-family: "Montserrat", "Arial", sans-serif
$h1-weight: normal
$h1-size-desktop: px2rem(48)
$h1-text-transform: uppercase

$h2-weight:700
$h2-size-desktop: px2rem(32)

$lead-hero-size: px2rem(28)
$lead-hero-line-height: 130%

$toc-title-text-transform: uppercase
$toc-text-transform: uppercase

//COLORS
$header-background: $color-background
$header-logo-height: 70px
$header-logo-height-desktop: 100px
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-dropdown-background: $color-green
$header-sticky-background: $color-green
$header-sticky-dropdown-background: $color-green
$header-color: $color-text-dark
$header-hover-color: $color-background

$link-color: $color-green

$hero-background-color: $color-background-alt
$footer-background-color: $color-blue
$footer-color: $color-text-alt
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop

//BUTTON STYLING
$btn-font-family: $heading-font-family
$btn-font-weight:700
$btn-font-size-desktop: px2rem(28)
$btn-padding-desktop: 2rem 6rem
